<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myproject.board.repository.mybatis.BoardMapper">

    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert into board (title, content, date, count, username)
        values (#{title}, #{content}, #{date}, #{count}, #{username})
    </insert>

    <select id="findById" resultType="Board">
        select * from board
        where id=#{id}
    </select>

    <select id="findAll" resultType="Board">
        select * from board order by id desc
    </select>
</mapper>